/* ThemeToggle.css */

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #c0c0c0; /* Серебряный цвет для выключенного состояния */
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 21px;
    width: 21px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #d4af37; /* Золотой цвет для включенного состояния */
}

input:checked + .slider:before {
    transform: translateX(25px);
}

.slider.round {
    border-radius: 34px;
}

.slider .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10px; /* Уменьшили размер иконки, чтобы она не наезжала на переключатель */
    pointer-events: none;
}

.icon.sun {
    color: #ffd700; /* Цвет солнца */
}

.icon.moon {
    color: #ffffff; /* Цвет луны */
}
